<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/styles/bootstrap.css">
    <link rel="stylesheet" href="~/styles/styles.css">

    <title>CEAP Gestão de Pessoas</title>
</head>
<body style="background-color:white">

    <div class="container" id="navbar-site">

        <!-- Barra -->

        <nav class="navbar fixed-top navbar-expand-lg" id="barra-interno">

            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/images/logo-interno.png"></a>

                <div class="d-flex flex-row">
                    <div style="margin-right: 30px"><p style="color: white;">Bem vindo, CLIENTE</p></div>

                    <a class="btn" id="btn-logout" onclick="Logout()">SAIR</a>
                </div>

            </div>
        </nav>

        <div style="height: 40px"></div>

        <!-- Menu Lateral-->


        <div class="container">
            <div class="row">

                <div class="col-md-auto">
                    <div class="btn-group-vertical">
                        <a href="#" class="btn btn-primary">Painel de Controle</a>
                        <a href="#" class="btn btn-primary">Agenda</a>
                        <a href="/Admin/CadastroClienteAdmin" class="btn btn-primary">Cadastro de Clientes</a>
                        <a href="#" class="btn btn-primary" onclick="BancoClientes()">Banco de Clientes</a>
                        <a href="#" class="btn btn-primary">Banco de Candidatos</a>
                        <a href="#" class="btn btn-primary">Controle de Atendimentos</a>
                        <a href="#" class="btn btn-primary">Relatórios</a>
                        <a href="#" class="btn btn-primary">Ajuda</a>
                    </div>
                </div>

                <!-- Conteúdo-->

                <div class="col">
                    <div>
                        @RenderBody()
                    </div>
                </div>


            </div>

        </div>



    </div>

    <p><a href="/Conta/PainelControleCliente">cliente</a></p>

    <p><a href="/Admin/PainelControleAdmin">administrador</a></p>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    function BancoClientes() {
        @*location.href = "@Url.Action("ConsultaClienteAdmin")";*@
        
    }

    function Logout() {
        window.location.href = "@Url.Action("Login", "Conta")";
    }
</script>