
@model IList<UnionDev.Models.Agendamento>
@{
    ViewBag.Title = "PainelControleAdmin";
    Layout = "~/Views/Shared/LayoutGeralAdmin.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>


</section>


<script>

    function AbrirModal(cod) {
        $('#modal').modal('show');
        $.ajax({
            url: "@Url.Action("ConsultarClientePorId", "Admin")",
            data: { id: cod },
            type: "GET",
            success: function (retorno) {
                $("#idM").val(retorno['Codigo']);
                $("#candidatoM").val(retorno['Candidato']);
                $("#descricaoM").val(retorno['Descricao']);
                $("#horarioM").val(retorno['Horario']);
            }
        })
    };


    function Editar() {
        var cod = $("#idM").val();
        var nome = $("#candidatoM").val();
        var descricao = $("#descricaoM").val();
        var horario = $("#horarioM").val();

        $.ajax({
            url: "@Url.Action("", "")",
            type: "POST",
            datatype: "json",
            data: { codigo: cod, Nome: nome, Descricao: descricao, HorarioIni: horario },
            success: function () {
                location.reload();
            }
        });
    };


</script>
