
@{
    ViewBag.Title = "PainelControleAdmin";
    Layout = "~/Views/Admin/LayoutContaAdmin.cshtml";
}

<div>

    <a class="img-responsive" href="#"><img src="~/images/logo-interno.png"></a>

</div>
