
@{
    ViewBag.Title = "Perfil Psicológico - NR-7";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="pagina-servicos">

        <div class="container">

            <h2>Perfil Psicológico - NR-7</h2>
            <br />
            <p>
                Perfil Psicológico / Programa de Saúde em Psicologia–PSP
            </p>

                    <img style="float: left; margin: 0px 15px 15px 0px;" src="~/images/icon-NR7.png">

                    <p>
                        O CEAP desenvolveu o Programa Saúde em Psicologia - PSP com o objetivo de avaliar o perfil psicológico dos funcionários da empresa em consonância ao PCMSO – Programa de Controle Médico e Saúde Ocupacional, de acordo com as recomendações da empresa e procurando seguir as prerrogativas da NR-7.
                    </p>
                    <p>
                        PSP contempla aplicação de avaliações psicológicas para efeitos Admissionais, Demissionais, Mudança de Função e Retorno ao Trabalho, utilizando testes psicológicos  que mensuram e investigam tanto a dinâmica quanto à estrutura do candidato.
                    </p>

        </div>
</div>