
@{
    ViewBag.Title = "Treinamento e Desenvolvimento de Pessoal";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="pagina-servicos">

        <div class="container">

            <h2>Treinamento e Desenvolvimento de Pessoal</h2>
            <br />
            <img style="float: left; margin: 0px 15px 15px 0px;" src="~/images/icon-pessoal.png">

            <p>
                Treinamento é um processo que busca promover a aquisição de habilidades, conceitos ou atitudes, com o objetivo de melhorar a adequação das características do colaborador às exigências de seu cargo. Em geral é pontual, atual e voltado para situações que exijam aprimoramento rápido e que contemple as competências de cada cargo.
            </p>
            <p>
                Segundo Milkovich e Boudreu (2010), o desenvolvimento é um processo em longo prazo, de aperfeiçoamento das capacidades dos colaboradores com o objetivo de torná-los membros valiosos para a organização. Portanto, o desenvolvimento tem como foco o desempenho futuro das pessoas na organização e para isso as empresas se utilizam de alguns métodos que auxiliam nesse processo como a participação em cursos e seminários, tutoria, coaching, entre outros.
            </p>
            <p>
                O CEAP Gestão de Pessoas fornece assessoria, promove a elaboração e realização de treinamentos in company para o  treinamento e o desenvolvimento de competências técnicas e pessoais, administração de conflitos, motivação de equipes  necessárias para que a organização alcance seus objetivos estratégicos.
            </p>
        </div>
    </div>