
@{
    ViewBag.Title = "PainelControleCliente";
    Layout = "~/Views/Cliente/LayoutContaCliente.cshtml";
}

<div>
    <h3>Exames Agendados</h3>

    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cargo-Função</th>
                <th scope="col">Setor</th>
                <th scope="col">Exame</th>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
                <th scope="col">Tipo de Exame</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Jose da Silva</td>
                <td>Eletricista</td>
                <td>Manutenção</td>
                <td>NR7</td>
                <td>10/03/2019</td>
                <td>16:00</td>
                <td>Admissional</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Carlos Gomes</td>
                <td>Eletricista</td>
                <td>Manutenção</td>
                <td>NR7</td>
                <td>30/04/2019</td>
                <td>15:00</td>
                <td>Demissional</td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>Fabio Souza</td>
                <td>Eletricista</td>
                <td>Manutenção</td>
                <td>NR7</td>
                <td>10/03/2019</td>
                <td>16:00</td>
                <td>Admissional</td>
            </tr>
            <tr>
                <th scope="row">41</th>
                <td>Talita Fernandes</td>
                <td>Encanador</td>
                <td>Manutenção</td>
                <td>NR3</td>
                <td>10/03/2019</td>
                <td>13:00</td>
                <td>Admissional</td>
            </tr>
        </tbody>
    </table>

</div>

